// color
$white-color: #ffffff;
$black-color: #101010;
$dark-grey-color: #292929;
$yellow-color: #f8eb00;
$light-grey-color: #979797;
$poluton-grey-color: #454545;

// fonts
.setup--h1 {
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}
.setup--h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  text-transform: uppercase;
}
.setup--h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.setup--h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.setup--h5 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.setup--h6 {
  font-size: 8.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  text-transform: uppercase;
}
.setup--text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.setup--block-title {
  color: $white-color;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  text-transform: uppercase;
}
.setup--section-title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  text-transform: uppercase;
}

@media (max-width: 48em) {
  .setup--h1 {
    font-size: 8rem;
  }
  .setup--h2 {
    font-size: 4rem;
  }
  .setup--h3 {
    font-size: 3.6rem;
  }
  .setup--h4 {
    font-size: 2.8rem;
    line-height: normal;
  }
  .setup--h5 {
    font-size: 2.8rem;
    line-height: 120%;
  }
  .setup--text {
    font-size: 2.8rem;
    line-height: normal;
  }
  .setup--block-title {
    font-size: 2.8rem;
    line-height: 120%;
  }
  .setup--section-title {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

// button

.setup--btn-black {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  &:hover {
    .text {
      color: $light-grey-color;
      transition: all 0.5s ease-in-out;
    }
    .btn {
      background-color: $light-grey-color;
      transition: all 0.5s ease-in-out;
    }
  }
  .text {
    color: $black-color;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 50%;
    background-color: $black-color;
    .icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.setup--btn-yellow {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  &:hover {
    .text {
      color: $white-color;
      transition: all 0.5s ease-in-out;
    }
    .btn {
      background-color: $white-color;
      transition: all 0.5s ease-in-out;
    }
  }
  .text {
    color: $yellow-color;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 50%;
    background-color: $yellow-color;
    .icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media (max-width: 48em) {
  .setup--btn-black {
    gap: 2.2rem;
    .text {
      font-size: 2.8rem;
    }
    .btn {
      width: 7.2rem;
      height: 7.2rem;
      .icon {
        width: 4.6rem;
        height: 4.6rem;
      }
    }
  }
  .setup--btn-yellow {
    gap: 2.2rem;
    .text {
      font-size: 2.8rem;
    }
    .btn {
      width: 7.2rem;
      height: 7.2rem;
      .icon {
        width: 4.6rem;
        height: 4.6rem;
      }
    }
  }
}

// events

.setup--hover-grayscale {
  // position: relative;
  filter: grayscale(90%);
  transition: all 0.5s ease-in-out;
  &:hover {
    filter: none;
    transition: all 0.5s ease-in-out;
  }
}

// popup

// .overlay {
//   display: none;
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background-color: $black-color;
//   opacity: 0.25;
//   z-index: 1000;
// }

// swiper

.swiper {
  .swiper-pagination {
    &-bullet {
      width: 1.5rem;
      height: 1.5rem;
      opacity: 1;
      border: 0.1rem solid $white-color;
      background-color: transparent;
      margin: 0 0.8rem !important;
      &-active {
        background-color: $white-color;
      }
    }
  }
}

@media (max-width: 48em) {
  .swiper {
    .swiper-pagination {
      &-bullet {
        width: 3rem;
        height: 3rem;
        opacity: 1;
        border: 0.2rem solid $white-color;
        background-color: transparent;
        margin: 0 1.6rem !important;
        &-active {
          background-color: $white-color;
        }
      }
    }
  }
}
